body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td, th {
  padding: 5px 0px 5px 0px;
}

.languages td, .languages th {
  padding: 5px 20px;
  background-color: #9ba4ad1a;
  border-radius: 3px;
}

.info {
  display: flex;
  justify-content: center;
}

.languages {
  margin-top: 20px;
}

.lang {
  text-align: end;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: large;
  font-weight: 600;
}

.data p {
  text-align: center;
}

.badge {
  color: #007bff;
  background: #cfe5ff;
  font-size: small;
  padding: 5px;
  border-radius: 4px;
  font-weight: 100;
}

#statuses {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#statuses > div > p {
  text-align: center;
}

.status {
  border: 1px solid #ccc;
  padding: 0 20px 20px 20px;
  border-radius: 4px;
  min-width: 300px;
  margin: 0 20px 20px 20px;
}

hr {
  margin-bottom: 20px;
}

.status .data {
  overflow: scroll;
  max-height: 300px;
}
